.navBar {
  height: 75px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  height: 1000px;
  background-color: whitesmoke;
  display: flex;
}

.navbar-left-btn-group {
  display: flex;
  list-style: none;
}

.navbar-left-btn-group > li {
  padding: 10px;
}

.selected {
  color: blue;
}

.navbar-right-btn-group {
  display: flex;
  list-style: none;
}

.navbar-right-btn-group > li {
  padding:10px
}


.user-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

.user-info {
  margin-top: 0px;
  margin-bottom: 10px;
}

.profile-photo {
  height: 150px;
  width: 150px;
}
